### Importación de datos

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

#1. Análisis de facturación

In [8]:
#concatenar tiendas
tiendas = pd.concat([tienda, tienda2, tienda3, tienda4])

#calcular facturacion total
fact_total=tiendas['Precio'].sum()
print(f"La facturación total es de ${fact_total}")

#calcular facturacion por tienda
fact_x_tienda={
    'Tienda 1':tienda['Precio'].sum(),
    'Tienda 2':tienda2['Precio'].sum(),
    'Tienda 3':tienda3['Precio'].sum(),
    'Tienda 4':tienda4['Precio'].sum()
}
print("\nFacturación por tienda:")
for tienda, facturacion in fact_x_tienda.items():
    print(f"{tienda}: ${facturacion}")

La facturación total es de $4403619200.0

Facturación por tienda:
Tienda 1: $1150880400.0
Tienda 2: $1116343500.0
Tienda 3: $1098019600.0
Tienda 4: $1038375700.0

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda